@tailwind base;
@tailwind components;
@tailwind utilities;

.column {
  background-color: rgb(244, 133, 14);
  width: 6px;
}

.comparing {
  background-color: rgb(44, 29, 251);
  width: 6px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.columnContainer {
  display: flex;
  gap: 3px;
}
