@tailwind base;
@tailwind components;
@tailwind utilities;

.column{
    background-color: blueviolet;
    width: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}

.columnContainer{
    display: flex;
    gap: 3px;
}


